@model List<ContosoUniversity.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
<a href='@Url.Action("New","Student")' class="btn btn-primary">Create New</a>

<hr/>
<div class="container">
    @foreach (var item in Model)
    {
        <div >
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="~/Images/user.png" style="width:150px; height:150px" alt="...">
                    <div class="caption">
                        <h3 style="text-align:center;">@Html.DisplayFor(m => item.FirstMidName) @Html.DisplayFor(m => item.LastName) </h3>
                        <p align="center">@Html.DisplayFor(m => item.EnrollmentDate, "{0:d MMM yyyy}")</p>
                        <p align="center"><a href='@Url.Action("Edit","Student",new { id=item.StudentID})' class="btn btn-primary btn-xs" role="button">Edit</a> <a href='@Url.Action("Details","Student",new { id=item.StudentID})' class="btn btn-warning btn-xs" role="button">Details</a> <a href='@Url.Action("Delete","Student",new { id=item.StudentID})' class="btn btn-danger btn-xs" role="button">Delete</a></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>