@model List<ContosoUniversity.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
<a href='@Url.Action("New","Student")' class="btn btn-primary">Create New</a>

<table class="table">
    <tr>
        <th>Student First Name</th>
        <th>Student Last Name</th>
        <th>Enrollment Date</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m=>item.FirstMidName)</td>
            <td>@Html.DisplayFor(m=>item.LastName)</td>
            <td>@Html.DisplayFor(m=>item.EnrollmentDate, "{0:d MMM yyyy}")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.StudentID}) |
                @Html.ActionLink("Details", "Details", new { id = item.StudentID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.StudentID })
            </td>
        </tr>
    }
</table>